<!DOCTYPE html>
<html lang="en"> </lang>

<link rel="stylesheet" href="/static/styles.css">

<body class="background">
<title> Book Store </title>
<H1 class="h1"> Book Store </H1>

<h3 class="welcome"> Welcome to my Book Store</h3>

<h4 class="books"> Books currently in stock: </h4>
<div> None</div>

<h4 class="books"> Upcoming releases: </h4>
<div>Lord of the Rings: The Fellowship of the Rings -  JRR Tolkien </div>
<div> Business Secrets of the Pharohs - Mark Corrighan </div>



<div class="address"> 
<div class="text"> Would you like to visit us in person?</div>
<div class="text"> Find us at: Number 10, Winterfell, Westeros. W35 2NN. </div>
</div>

</body>